body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e4e4;
    font-size: 0.6em;
}

.top-bar {
    background-color: #f0919c;
    color: white;
    padding: 20px;
    text-align: left;
}

.top-top-bar {
    display: flex;
}

.title {
    flex: 2;
}

.print-button {
    flex: 1;
}

#dataFormheader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-top: 10px;
}

.header-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-group input {
    margin-bottom: 2px;
    width: 100px;
}

label {
    margin-top: 1px;
    color: black;
    font-size: 10pt;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

img {
    width:100%;
    max-width: 180px;
    overflow: hidden;
}

.column-side {
    flex: 2;
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 10px;
}

.column-mid {
    flex: 3;
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 10px;
}

.internal-column-container {
    display:flex;
    justify-content: space-between;
}

.internal-column2 {
    flex: 1;
}

.internal-column2 input {
    width: 30px;
}

.internal-column3 {
    flex: 3
}

.internal-column {
    flex: 1;
    padding: 10px;
}

.vertbox-container {
    position: absolute;
}

#dataForm2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle-group {
    display: flex;
    align-items: center;
}

.middle-group label {
    margin-right: 0px;
    min-width: 100px;  /* Adjust as needed */

}

.middle-group input {
    width: 70px;  /* Adjust the width as needed */
    align-items: right;
}

.middle-group2 {
    display: flex;
    align-items: center;
}

.middle-group2 label {
    margin-right: 0px;
    min-width: 75px;  /* Adjust as needed */

}

.middle-group2 input {
    width: 20px;  /* Adjust the width as needed */
    align-items: right;
}

form {
    margin: 0;
    padding: 0;
}

label, input {
    display: block;
    margin: 3px 0;
    font-size: 0.8em;
}

.comments-box input {
    width: 100px;
    height: 60px;
}

.downloadform {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: white;
    color: #333;
    border: 2px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #333;
    color: white;
}